body {
	padding-top: 50px;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: futura;
}

body p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
}

#navbar-home {
	color: #87ceeb;
}

.carousel-caption h1, p {
	line-height: 1.5;
	text-align: center
}

.carousel-caption p {
	font-size: 18px;
}

#socialbar {
	text-align: center;
}

#socialbar .container {
	display: inline-block;
	margin-top: 20px;
}

#socialbar .container li {
	float: left;
	list-style: none;
}

#camp {
	background: #f5f5f5;
	/*background: -webkit-linear-gradient(left, black 40%, #fff); GRADIENT OPTION*/
	padding-bottom: 20px;
}

#camp h1 {
	text-align: center;
	font-family: futura;
	font-size: 50px;
	padding: 10px 0 20px;
}

#camp h3 {
	text-align: center;
}

#camp a {
	color: black;
	text-decoration: none;
}

.camp-options img {
	opacity: 0.75;
}

.camp-options h3 {
	margin: 35px 0 25px;
}

.campimage {
	display: block;
	margin: 0 auto;
}

.col-lg-4 p {
	padding: 0 25px;
}

.shadow {
	/*shadow and rounded corners*/
  	box-shadow: 10px 10px 10px #333;
  	border-radius: 15px;
}

#accreditation h1 {
	font-size: 50px;
	font-family: futura;
	padding: 10px 0 20px;
}

#accreditation {
	text-align: center;
}

#accreditation .container {
	display: inline-block;
	margin-bottom: 50px;
}

#accreditation .container li {
	float: left;
	list-style: none;
}

#footer {
  height: 50px;
  background: linear-gradient(105deg, black 20%, white 80%)
}

#footer p {
	color: white;
	font-family: futura;
	font-size: 15px;
	padding-top: 15px;
	text-align: left;
}

/*SEACAMP*/
#masthead-seacamp {
	height: 420px;
	background: url('../images/seacamp.jpg');
	background-size: 100%;
	padding-top: 50px;
	background-repeat: no-repeat;
}

#masthead-seacamp h1 {
	font-size: 50px;
	text-align: right;
	width: 940px;
	color: black;
	margin: 260px;
}

#body-seacamp {
	width:940px;
	margin: 0 auto;
}

#dates-seacamp h2, h4 {
	text-align: center;
}

#blurb-seacamp {
	border-bottom: 2px dotted black;
}

#blurb-seacamp p {
	text-align: justify;	
	margin: 20px 0 20px;
	line-height: 1.5;
}

#video-seacamp {
	padding: 25px 0 50px;
	text-align: center;
}

#video-seacamp h1 {
	margin-bottom: 50px;
}

#video-seacamp h4 {
	margin-top: 50px;
}

#video-seacamp a {
	text-decoration: none;
	color: black;
}

#video-seacamp a:hover {
	color: #87ceeb;
}

/*JUNIOR SEACAMP*/
#masthead-juniorseacamp {
	height: 420px;
	background: url('../images/juniorseacamp.jpg');
	background-size: 100%;
	padding-top: 50px;
	background-repeat: no-repeat;
}

#masthead-juniorseacamp h1 {
	font-size: 50px;
	text-align: right;
	color: black;
	margin: 25px 100px;
}

#body-juniorseacamp {
	width:940px;
	margin: 0 auto;
}

#dates-juniorseacamp h2, h4 {
	text-align: center;
}

#blurb-juniorseacamp {
	border-bottom: 2px dotted black;
}

#blurb-juniorseacamp p {
	text-align: justify;	
	margin: 20px 0 20px;
	line-height: 1.5;
}

#video-juniorseacamp {
	padding: 25px 0 50px;
	text-align: center;
}

#video-juniorseacamp h1 {
	margin-bottom: 50px;
	text-align: center;
}

#video-juniorseacamp h4 {
	margin-top: 50px;
}

#video-juniorseacamp a {
	text-decoration: none;
	color: black;
}

#video-juniorseacamp a:hover {
	color: #87ceeb;
}

/*ASTROCAMP*/

#masthead-astrocamp {
	height: 420px;
	background: url('../images/astrocamp2.jpg');
	background-size: 100%;
	padding-top: 50px;
	background-repeat: no-repeat;
}

#masthead-astrocamp h1 {
	font-size: 50px;
	text-align: center;
	width: 940px;
	color: white;
	margin: 50px auto;
}

#body-astrocamp {
	width:940px;
	margin: 0 auto;
}

#dates-astrocamp h2, h4 {
	text-align: center;
}

#blurb-astrocamp {
	border-bottom: 2px dotted black;
}

#blurb-astrocamp p {
	text-align: justify;	
	margin: 20px 0 20px;
	line-height: 1.5;
}

#video-astrocamp {
	padding: 25px 0 50px;
	text-align: center;
}

#video-astrocamp h1 {
	margin-bottom: 50px;
	text-align: center;
}

#video-astrocamp h4 {
	margin-top: 50px;
}

#video-astrocamp a {
	text-decoration: none;
	color: black;
}

#video-astrocamp a:hover {
	color: #87ceeb;
}


/*MEET THE TEAM*/

#masthead-team {
	height: 420px;
	background: url('../images/teammasthead.jpg');
	background-size: 100%;
	padding-top: 50px;
	background-repeat: no-repeat;
}

#masthead-team h1 {
	font-size: 50px;
	text-align: right;
	color: white;
	margin: -30px 100px;
}

#teammembers {
	padding-bottom: 50px;
	background: #f5f5f5;
}

#teammembers h1 {
	padding: 25px 0 25px;
	text-align: center;
}

#teammembers h3 {
	margin: 35px 0 25px;
	text-align: center;
}

#teammembers h4 {
	text-align: center;
	color: grey;
}

/*CAREERS*/

#masthead-careers {
	height: 420px;
	background: url('../images/careers.jpg');
	background-size: 100%;
	padding-top: 50px;
	background-repeat: no-repeat;
}

#masthead-careers a {
	text-decoration: none;
	color: white;
}

#masthead-careers a:hover {
	color: #87ceeb;
}

#hero-message {
	display: inline-block;
	margin-top: 50px;
	margin-left: 75%;
	color: white;
}

#top3 {
	height: 175px;
	padding-top: 25px;
	background: #f5f5f5;
}

.col-lg-4 h3 {
	text-align: center;
	font-family: futura;
}

#job-board h3 {
	color: grey;
	padding-left: 100px;
}

#job-board .container {
	padding: 50px 0 50px 150px;
}

#job-board a {
	padding-left: 100px;
	font-size: 25px;
	text-decoration: none;
	line-height: 2em;
}

#job-board a:hover {
	color: black;
}

.modal-body p {
	text-align: justify;
}

//TEST